/* * reset css * */
*,
::before,
::after{
    color: red;
    margin: 0;
    padding: 0;
    /*点击高亮*/
    -webkit-tap-highlight-color: transparent;
    /*以边框开始计算宽度*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family: "MicroSoft YaHei",sans-serif;
    color: #333;
}
a{
    color: #333;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
input,button{
    background: transparent;
    border: none;
    outline: none;
    /*移动端默认表单样式*/
    -webkit-appearance: none;
}
/* * 共用样式 * */
.f_left{
    float: left;
}
.f_right{
    float: right;
}
.clearfix::before,
.clearfix::after{
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

